@media screen and (max-width: 600px){
body
{
    max-width: 600px;
    width: 63%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding: 0px;
}

header
{
    position: relative;
    flex-direction: column;
    padding:0;
}

.logo
{
    padding: 30px 0 0 30px;
}
  
nav a:not(.header-nav-item3)
{
    color:black;
}
  
a.header-nav-item1
{
    border-bottom: #f2f2f2 2px solid;
}

a.header-nav-item1:hover 
{
    border-top: white;
    border-bottom:#0065fc 3px solid;
    color: #0065fc;
}

a.header-nav-item3
{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    margin: 40px 50px 0 0;
    padding: 0;
}
/*========================section titre/recherche=================*/
main 
{
    width: 100%;
    padding: 0;
}

.container-search
{
    margin: 5% 0 10% 8%;
}

h1 
{
flex-direction: column;
width: 100%;
}

span.head-title-item
{
    display: none;
}

i.fas.fa-map-marker-alt
{
    border-top-left-radius: 0.6em;
    border-bottom-left-radius: 0.6em;
}

input.search-field
{
    width: 215px;
    padding-left: 5%;
    border-top: 2px solid #f2f2f2;
    border-bottom: 2px solid #f2f2f2;
    border-left: 0;
    border-right: 0;
}

input.search-button
{ 
    display: none;
}

input.fas.fa-search
{
    border-top-right-radius: 0.6em;
    border-bottom-right-radius: 0.6em;
    border: #f2f2f2 2px solid;
    background-color: #0065fc;
    color: white;
}

i.fas.fa-search
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    border-radius: 0.6em;
    background-color: #0065fc;
    color: white;
}
/*==================================section filtres===========================*/

.container-filters
{
    margin: 10%;
}

.filters
{
    display: block;
}

h2.filters-items
{
    display: block;
}

ol 
{
    display: flex;
    justify-content: flex-start;
    padding-left: 0px;
    width: 80%;
}

div.filters-items2
{
    display: block;
}
.filters-item2
{
flex-direction: column;
}


/*==================================section hébergement et populaire===========================*/

/*========================populaire=======================*/

div.hosting-pictures /*conteneur hébergement et populaire*/
{
    flex-direction: column;
    padding: 0;
}

.lodging-popular /*section les plus populaires*/

{
    width: 100%;
    margin: 0;
    border-radius: 0;
}

div.lodg-pop /*box carte */
{
    flex-direction: column;
    margin: 0;
}

.lodg-pop-cards /*carte */
{
    width: 90%;
    height: 130px;
    margin: 0% 5% 5% 5%;
}

a div.lodg-pop-card-picture /*box photo*/
{
    width: 50%;
    height: 100%;
}

img.lodg-pop-card-picture1
{
    width: 100%;
    height: 130px
}

p.lodg-pop-card-price /*prix carte*/
{
font-size: 0.8em;
}

i.fas.fa-star /*étoiles*/
{
    padding-top: 15px;
}
/*===========================hébergement============================*/

.lodging /*section hébergement*/

{
    width: 100%;
    order: 1;
    background-color: white;
    padding:0;
}

h2#hebergement.title-section
{
    margin: 5% 0 5% 2%;
}

.lodging-cards /*box cartes*/

{
    flex-direction: column;
    width: 100%;
}

.lodging-card
{
    box-shadow: 0 5px 5px 5px #f2f2f2;
    width: 90%;
    height: 220px;
    margin: 0 5% 5% 5%;
    padding-bottom: 10%;
}

img.lodging-pictures
{
    height:125px;
    object-fit: cover;
}

p.lodg-card-price
{
    margin-top: 1%;
}

div.lodg-star
{
    margin:0 0 0 5%;
}
/*================================activité=====================================*/

.activity-pictures
{
    width: 100%;
    height: auto;
    margin-top: 2%;
}

h2#activite.title
{
    margin: 5% 0 5% 2%;
}

.container-activity-cards
{
    flex-direction: column;
}

.activity 
{
    width: 100%;
    height: 100%;
    margin-right: 3%;
}

.activity-card 
 {
    width: 90%;
    height: 200px;
    margin: 0 5% 5% 5%;
 }

.activity-card-picture
{
    height: 140px;
}

.activity-box
{
    width: 100%;
    height: 100%;
    margin-right: 3%;
}

.activity-card1 

{
    width: 90%;
    height: 200px;
    margin: 0 5% 5% 5%;
}

.activity-card2
{ 
    width: 90%;
    height: 200px;
    margin: 0 5% 5% 5%;
}

.activity-card3
{ 
    width: 90%;
    height: 200px;
    margin: 0 5% 5% 5%;
}

.activity-card4
{ 
    width: 90%;
    height: 200px;
    margin: 0 5% 5% 5%;
}
/*================================footer=====================================*/

footer 
{
    flex-direction: column;
    width: 100%;
    margin-top: 10%;
}

.footer-box 
{
    margin: 5% 0% 3% 10%;
    width: 60%;
}
}/*======fin=====*/




























































































































































































































































































































































    

 
