/*================================= global ================================*/
/*definir quel px pour marge auto*/
*
{
    box-sizing: border-box;  
}

body 
{
    font-family: raleway ,sans-serif;
    margin: 0 auto;
    min-width: 360px;
    max-width: 1200px;
}
/*================================= header ================================*/

header 
{
    display: flex;
    justify-content: space-between;
    width :100%;
    position: relative;
    padding-left: 30px; 
}

.logo
{  
    max-width: 100px;
    margin:1px 0px 0px 4px;
    padding: 30px 0px 0px 0px;
    width: 50em;
    height: auto;    
}
/*======================== nav ================*/

nav.container-header-nav
{
    display: flex;
    justify-content: space-around;

}

nav a 
{
    color: black;
    padding: 30px 30px 15px 50px;
    font-size: 0.9em;
    text-decoration: none;
    width: 50%;
}

.header-nav-item3
{
    color: #0065fc;
    font-size: 0.9em;
    font-weight: bold;
}

.cont-item3
{
    color: #0065fc;
}
/*========================section-titre/recherche===================================*/

/*========================titre================*/
main
{
    padding-left: 30px;
}

.container-search > h1 :nth-child(1)
{
    margin-bottom: 5px;
}

h1
{
    margin-top: 40px;
    margin-bottom: 5px;
    font-size: 1.1em;
    font-weight:bold;
    width: 100%;
}
/*========================================*/ 

p.search
{ 
    display: flex;
    justify-content: flex-start;
    color: #303030;
    margin-top: 5px;   
    font-size: 0.8em; 
}
/*========================formulaire================*/

form
{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 15px;
}

i.fas.fa-map-marker-alt
 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
}

input.search-field
{
    color:black;
}
/*========================bouton de recherche================*/

input.search-field::placeholder
{
    color:black;
}
/*============================section-filtres===================================================*/

.filters
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
/*========================titre filtre================*/

h2.filters-items
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
}
/*========================liste filtres================*/

ol
{
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    flex-wrap: wrap;
    padding-left: 20px;
}

ol:hover
{
    color: black;
}
/*========================éléments listes================*/

li
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
    padding-right: 20px;
    border-radius: 20px;
    border:solid 2px #d9d9d9;
    margin-left: 8px;
}

li:hover
{
    border-color: white;
    box-shadow: 0px 5px 20px grey;
}
/*========================image font-awesome================*/

i.fas:not(.fa-map-marker-alt):not(.fa-info):not(.fa-search):not(.fa-euro-sign):not(.fa-star):not(.fa-chart-line)
/*.fa-money-bill-wave*/
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50% ;
    border: 2px solid none;
    background: #DEEBFF;
    color:#0065FC;
    font-size: 1em;
    margin: -2px;
}
/*========================texte filtre================*/

span.filters-item1
{
    margin-left: 15px;
}
/*========================info ville==================*/ 

div.filters-info
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

div.f-info-item1
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height:25px;
    border-radius: 50%;
    border: 2px solid #f2f2f2;
    color:#0065fc;
    margin-right: 1%; 
}

.f-city-item2
{
    font-size: 0.8em;
    color: #606060;
}  
/*======================================section-hébergement=========================================*/
div.hosting-pictures
{
    display: flex;
    margin-top:2%;
    padding-right: 2%;
    order:2
}

h2#hebergement.title-section
{
    padding: 30px 0 5px 15px;
    font-size: 1.2em;
    font-weight: bold;
}

.lodging
{
    width: 65%;
    height: auto;
    background-color: #f2f2f2;
    border-radius: 1em;
    padding: 0 2% 0 2%;
}

.lodging-cards
{
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;    
}

.lodging-card
{
    width: 30%;
    height:auto;
    background-color: white;
    border:#f2f2f2 2px solid;
    border-radius: 0.6em;
    box-shadow: 0px 5px 5px lightgrey;
}

a
{
    width: 100%;
    height: auto;
    text-decoration: none;
    color: black;
}

a img.lodging-pictures
{
    width: 100%;
    height: 140px;
    border: solid white 4px;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    box-shadow: 0px 5px 20px white;  
}

h3.lodg-card-title
{
    margin: 0;
    font-size: 0.8em;
    font-weight: bold;
    margin-left:5%;
}

p.lodg-card-price
{
    margin: 1% 0 0% 5%;
    font-size: 0.8em;
    margin-left:5%;
}

span.lodg-card-price1
{
    font-weight: bold;
    font-size: 1em;
}

div.lodg-star
{
    margin: 5% 0 2% 5%;
    font-size: 0.8em;
}

i.fas.fa-star
{
    color: #0065fc;
}

i.fas.fa-star.card-star
{
    color:#f2f2f2;
}

p.lodg-card-more
{
    font-size: 1em;
    font-weight: bold;
    margin: 0 0 10% 2%;
}
/*======================================section-populaire=========================================*/
.lodging-popular
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 35%;
    height: auto;
    background-color: #f2f2f2;
    border-radius: 1em;
    margin-left: 25px;
}

div.lodg-pop-title
{
    display: flex;
    justify-content: space-between;
}

h2.title-section
{
    padding: 30px 0 0 30px;
    font-size: 1.2em;
}

.popular
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 5% 0 0 10%;
    padding: 20px 0 0 2px;
}

i.fas.fa-chart-line
{
    display: flex;
    justify-content: flex-end;
    padding:45px 15px 0 0;
    font-size: 1.2em;
    font-weight: bold;
}

article.lodg-pop-cards >a
{
    display: flex;
    justify-content: space-between;
}

a div.lodg-pop-card-picture
{
    width: 40%;
    height: 100%;
}

img.lodg-pop-card-picture1
{
    width: 100%;
    height:165px;
    object-fit: cover;
    border-top-left-radius: 0.6em;
    border-bottom-left-radius: 0.6em;
    padding: 5px;
}

div.lodg-pop-card-info
{   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    margin: 3% 0 0 5%;
}

div.pop-star
{
    margin-bottom: 10%;
}

h3 .lodg-pop-card-title
{
    font-weight: bold;
    font-size: 0.6em;
    margin-left:5%;
}

div.lodg-pop
{
    justify-content: space-between;
    width:100%;
    height:80%;
    margin: 5% 0 10% 5%;
}

.lodg-pop-cards
{
    margin-bottom: 5%;
    border-radius: 0.6em;
    background-color: white;
    box-shadow: 0px 5px 5px lightgrey;
}
/*==================================section activité=========================*/

.activity-pictures
{
    width: 100%;
    height: auto;
    margin-top: 2%;
}

h2#activite.title
{
    font-size: 1.2em;
    margin-top: 5%;
}

.container-activity-cards
{
    display: flex;
}

.activity
{
    width: 23%;
    height: 100%;
    margin-right: 3%;
}

.activity-card
{
    width: 100%;
    height: 350px;
    background-color: white;
    border-radius: 0.6em;
    box-shadow: 0px 5px 5px lightgrey;
}

.activity-card-picture
{
    width: 100%;
    height:300px;
    border-top-left-radius: 0.6em;
    border-top-right-radius: 0.6em;
    object-fit: cover;
}

.activity-box
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
    width: 23%;
    margin-right: 3%;
}

.activity-card1
{
    width: 100%;
    height: 60%;
    background-color: white;
    border-radius: 0.6em ;
    box-shadow: 0px 5px 5px lightgrey;
}

img.activity-card-picture1
{
    width: 100%;
    height: 76%;
    object-fit: cover;
    border-top-left-radius: 0.6em;
    border-top-right-radius: 0.6em;
}

.activity-card2
{
    width: 100%;
    height: 30%;
    background-color: white;
    box-shadow: 0px 5px 5px lightgrey;
    border-radius: 0.6em ;
}

img.activity-card-picture2
{
    width: 100%;
    height: 65%;
    object-fit: cover ;
    border-top-left-radius: 0.6em;
    border-top-right-radius: 0.6em;   
}

.activity-card3
{
    width: 100%;
    height: 40%;
    box-shadow: 0px 5px 5px lightgrey;
    border-radius: 0.6em ;
}

img.activity-card-picture3
{
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-top-left-radius: 0.6em;
    border-top-right-radius: 0.6em;
}

.activity-card4
{
    width: 100%;
    height: 50%;
    box-shadow: 0px 5px 5px lightgrey;
    border-radius: 0.6em ;
}

img.activity-card-picture4
{
    width: 100%;
    height: 72%;
    object-fit: cover;
    border-top-left-radius: 0.6em;
    border-top-right-radius: 0.6em; 
}

h3
{
    font-size: 0.8em;
    margin: 5% 0 0 5%;
}

p
{
    font-size: 0.8em;
}
/*==================================footer=========================*/

footer
{
    display: flex;
    justify-content: flex-start;
    margin-top: 5%;
    background-color:#f2f2f2;
}

.footer-box
{
    margin: 3% 5% 5% 5%;
    width: 33%;
}

h2.footer-box-title
{
    font-size: 1em;
}

a.footer-box-info
{
    font-size: 0.9em;
    padding: 0;
    width: 100%;
}




